.header-bg {
  background-color: black;
  color: white;
}

.Logo {
  padding: 20px 30px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 12px;
  gap: 20px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: white;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 80%;
}

@media (max-width: 1200px) {
}

@media (max-width: 800px) {
}

@media (max-width: 400px) {
}

.main-bg {
  background-color: black;
  color: white;
  padding-right: 40px;
  margin: auto auto;
  box-shadow: inset 0 -120px white;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  margin: auto auto;
}

.intro p,
a {
  grid-column: 1;
}

.intro h1 {
  margin-bottom: 32px;
}

h1 span {
  color: #ebcd4b;
}

.intro p {
  margin-bottom: 30px;
}

.intro-conteudo {
  align-self: center;
  justify-items: right;
  padding-bottom: 80px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  background: linear-gradient(rgb(255, 221, 26) 0%, rgba(255, 181, 0, 1) 100%);
  text-transform: uppercase;
  padding: 16px 32px;
  font: Poppins;
  font-weight: bold;
  color: #854e06;
  border-radius: 4px;
  max-width: max-content;
}

.botao:hover {
  background: linear-gradient(rgb(255, 218, 10) 0%, rgb(218, 156, 0) 100%);
}

.botao-alt {
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 32px;
  font: Poppins;
  font-weight: bold;
  color: var(--cor-3);
  background-color: var(--cor-9);
  border-radius: 4px;
  max-width: max-content;
}

.botao-alt:hover {
  background-color: var(--cor-10);
}
